body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black !important;
    height: 100vh;
    width: 100%;
    position: relative;
}

#background-video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100vh;
}


nav {
    position: relative;
    z-index: 1;
}

.desktop-nav {
    height: 120px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1460px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

.desktop-nav .logo img {
    max-width: 100px;
}

.desktop-nav .nav-item {
    display: flex;
    justify-content: center;
    list-style: none;
}

.desktop-nav .nav-item li {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    list-style: none;
    color: green;
}

.desktop-nav .nav-item li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    position: relative;
    padding: 0 5px;
}

.desktop-nav .nav-item li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1CFEFF;
    height: 1px;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
}

.desktop-nav .nav-item li a:hover::after {
    animation: underline 0.3s ease forwards;
}

@keyframes underline {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.desktop-nav .nav-item li:hover a {
    color: #1CFEFF;
}

.desktop-nav .nav-item .active::after {
    transform: scaleX(1);
}

.desktop-nav .nav-item .active {
    color: #1CFEFF;
}

.mobile-nav {
    display: none;
    padding-top: 20px;
    height: 100vh;
    width: 100%;
}

.mobilenav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobilenav-item li {
    list-style: none;
}

.mobilenav-item {
    display: none;
}


.mobile-nav .toggle {
    position: relative;
    width: 70px;
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    z-index: 5000;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #1863ff;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    right: 15px;
}

.toggle.activeBtn span:nth-child(1) {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    right: 15px;
}

.toggle.activeBtn span:nth-child(2) {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.activeBtn span:nth-child(3){
    transform: translateX(-60px);
}

@media(max-width: 991px) {
    .desktop-nav .nav-item {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}
